@{
    ViewData["Title"] = "Sistema de Gestão e Vigilancia de Testes/Exames";
}
<div class="jumbotron text-center" style="background-color: transparent">
    <h2>Sistema de Gestão e Vigilancia de Testes/Exames</h2>
    <p>
        <br />
        <small>- Sistema de Gestão e Vigilancia</small>
    </p>
    <article class="table-bordered" style="margin: 5em; border-radius: 50px; border-color: lightslategrey; border-width: 2px; border-style: dashed; background-color: rgba(255, 255, 255, 0.15)">
        <h3>Experimente a demonstração do Sistema</h3>
        <h2>Conta Admin</h2>
        <p>
            email: admin@grupo2.gp
        </p>
        <p>
            password: AdminGrupo2
        </p>
        <h2>Conta User</h2>
        <p>email: user@grupo2.gp</p>
        <p>password: UserGrupo2</p>
    </article>
</div>