@{
    ViewData["Title"] = "Acesso negado";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Não tem autorização para aceder a esta opção, somente o regente da cadeira o pode fazer</p>
</header>
