@{
    ViewData["Title"] = "Confirmação de recuperação de password";
}
<h3>Recuperação da password</h3>
<p>
    Por favor consulte o seu email para fazer escolher uma nova password de acesso ao sistema de informação.
</p>
