@model RegisterViewModel
@{
    ViewData["Title"] = "Registar";
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <br />
            <h4>Por favor preencha o formulário abaixo.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrimeiroNome"></label>
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoNome"></label>
                <input asp-for="UltimoNome" class="form-control" />
                <span asp-validation-for="UltimoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleType"></label>
                <select asp-for="RoleType" class="form-control">
                    <option value="Utilizador">Utilizador</option>
                    <option value="Administrador">Administrador</option>
                </select>
                <span asp-validation-for="RoleType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDocente"></label>
                <input asp-for="NumeroDocente" class="form-control" />
                <span asp-validation-for="NumeroDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidade"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <h4>Os seus dados são importantes para nós, por isso pela entrada da nova lei de proteção de dados, iriamos pedir que aceite o tratamento dos seus dados pessoais.</h4>
                    <h4>Caso não aceite, não poderemos manter a sua informação na nossa base de dados.</h4>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.protecaoDados)
                        @Html.LabelFor(x => x.protecaoDados)
                        @Html.ValidationMessageFor(x => x.protecaoDados)
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Registar</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
