
@{
    ViewData["Title"] = "VigiaRecusa";
}

<div>
    <h2>Comente o porque de não puder realizar a vigia na caixa de texto em baixo e depois confirme:  </h2>

    <textarea rows="10" cols="100" name="comment" form="usrform">
    </textarea>

    <button type="submit" class="btn btn-sm btn-success">Enviar</button>
</div>


