@model PedidoVigilancia
@{
    ViewData["Title"] = "PedidoVigilanciaView";
}

<h2>PedidoVigilanciaView</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <br />
            <h4>Por favor preencha o formulário abaixo.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroDocente" class="control-label"></label>
                <input asp-for="NumeroDocente" class="form-control" />
                <span asp-validation-for="NumeroDocente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimeiroNome" class="control-label"></label>
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UltimoNome" class="control-label"></label>
                <input asp-for="UltimoNome" class="form-control" />
                <span asp-validation-for="UltimoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoList" class="control-label"></label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId">
                    <option value="">-- Selecione o Curso --</option>
                </select>
                <span asp-validation-for="CursoId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="UCList" class="control-label"></label>
                <select asp-for="UCid" class="form-control" asp-items="ViewBag.UCid">
                    <option value="">-- Selecione a UC --</option>
                </select>
                <span asp-validation-for="CursoId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Sala" class="control-label"></label>
                <input asp-for="Sala" class="form-control" />
                <span asp-validation-for="Sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataVigilancia" class="control-label"></label>
                <input asp-for="DataVigilancia" class="form-control" />
                <span asp-validation-for="DataVigilancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraVigilancia" class="control-label"></label>
                <input asp-for="HoraVigilancia" class="form-control" />
                <span asp-validation-for="HoraVigilancia" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Validar</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
